@model KalustoLuetteloSovellus.Models.Tuote

@{
    ViewData["Title"] = "Edit";
}

<h1>Muokkaa</h1>

<h4>Tuote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TuoteId" />
            <div class="form-group">
                <label asp-for="IdNumero" class="control-label"></label>
                <input asp-for="IdNumero" class="form-control" />
                <span asp-validation-for="IdNumero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kategoria" class="control-label"></label>
                <select asp-for="KategoriaId" class="form-control" asp-items="ViewBag.KategoriaNimi"></select>
                <span asp-validation-for="KategoriaId" class="text-danger"></span>
            </div>
            @* <div class="form-group"> *@
            @*     <label asp-for="Status" class="control-label"></label> *@
            @*     <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusNimi"></select> *@
            @*     <span asp-validation-for="StatusId" class="text-danger"></span> *@
            @* </div> *@
            <div class="form-group">
                <label asp-for="Toimipiste" class="control-label"></label>
                <select asp-for="ToimipisteId" class="form-control" asp-items="ViewBag.ToimipisteNimi"></select>
                <span asp-validation-for="ToimipisteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kuvaus" class="control-label"></label>
                <input asp-for="Kuvaus" class="form-control" />
                <span asp-validation-for="Kuvaus" class="text-danger"></span>
            </div>
            @if (Model.Kuva != null && Model.Kuva.Length > 0)
            {
                <img class="" style="width:256px;height:256px;object-fit:cover;border-radius:16px" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Kuva)" alt="Tuote kuva" />
            }
            <div class="form-group">
                <label asp-for="KuvaFile" class="control-label"></label>
                <input asp-for="KuvaFile" class="form-control" type="file" />
                <span asp-validation-for="KuvaFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OstoPvm" class="control-label"></label>
                <input asp-for="OstoPvm" class="form-control" type="date"/>
                <span asp-validation-for="OstoPvm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Takuu" class="control-label"></label>
                <input asp-for="Takuu" class="form-control" type="date" />
                <span asp-validation-for="Takuu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hinta" class="control-label"></label>
                <input asp-for="Hinta" class="form-control" />
                <span asp-validation-for="Hinta" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Aktiivinen" /> @Html.DisplayNameFor(model => model.Aktiivinen)
                </label>
            </div>
            <div class="d-flex mt-2">
                <div class="form-group">
                    <div class="btn btn-primary">
                        <i class="fas fa-save"></i>
                        <input type="submit" value="Tallenna" style="background:none;border:none;color:white" />
                    </div>
                </div>
                <div>
                    <a class="btn btn-secondary ms-2" asp-controller="Tuotteet" asp-action="ReturnToPreviousPage"><i class="fas fa-arrow-left"></i>Takaisin</a>
                </div>
                <button onclick="window.history.back()">Back</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
