
@* Tämä on kaikkien sivujen layout näkymä *@

@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">

@{

    var käyttäjä = Context.Session.GetString("Käyttäjätunnus"); 
    var isAdmin = RoleHelper.IsAdmin(Context);
    var isLoggedIn = !string.IsNullOrEmpty(käyttäjä);
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KalustoLuetteloSovellus</title>

    @* Tyylitiedostot *@

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KalustoLuetteloSovellus.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="\css\kalu.css">

    @*"Käyttöliittymäviitekehykset"*@

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</head>
<body>

    @* Navbar näkymän renderöinti *@

    @{
        await Html.RenderPartialAsync("_Navbar");
    }

    @* Bodyn renderöinti *@

    <div class="d-flex flex-column align-items-center justify-content-center text-center">
        @RenderBody()
    </div>

    @* Lisää jQuery suoraan *@
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    @* Lisää Bootstrap suoraan *@
    @* <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> *@

    @*Footer-osio *@

    <footer class="border-top footer text-muted mt-5 p-5">
        <div class="d-flex justify-content-around align-items-center">
            <img class="careeria-logo" src="@Url.Content("~/Images/Careeria-logo.png")" style="height:90px;width:auto;filter:invert()" />
            <p>
                &copy; 2025 - KalustoLuetteloSovellus 
            </p>
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
</body>
</html>
