<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <img src="@Url.Content("~/Images/Careeria-logo.png")" style="height:90px;width:auto" />
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="font-size: 1.2rem; font-weight: 750;">KalustoLuetteloSovellus</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">

                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Koti</a></li>
                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Register">Rekisteröidy</a></li>
                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Kirjaudu sisään</a></li>
            </ul>
        </div>
    </div>
</nav>
