@* Status pallot-näkymä *@

@model KalustoLuetteloSovellus.Models.Status

<link rel="stylesheet" href="~/css/statusbadge.css" />


@if (Model != null)
    {
    <div class="d-flex flex-nowrap">
        @{
            var css_class = Model.StatusNimi switch
            {
                "Varattu" => "status-varattu",
                "Vapaa" => "status-vapaa",
                "Huollossa" => "status-huollossa",
                "Kadonnut" => "status-kadonnut",
                "Poistettu" => "status-poistettu",
                _ => "status-other"
            };
        }
        @* <div class="d-flex"> *@
        @*     <strong style="font-variant-caps:all-small-caps">@Model.StatusNimi</strong> *@
        @* </div> *@
    
        <div class="d-flex">
            <div class="status-badge @css_class" title="@Model.StatusNimi"></div>
        </div>
    </div>
}