@* Statistiikka näkymä *@

@model KalustoLuetteloSovellus.ViewModels.StatsViewModel

@{
    float percentage = 0f;
    if (Model.Total != 0)
    {
        percentage = ((float)Model.Used / (float)Model.Total) * 100f;

    }
    int percentageInt = (int)percentage;
    var percentageString = $"{percentage:F1}%";
}


<div class="card align-items-center kalu-border w-100 h-100">
    <div >
        <div class="d-flex flex-column align-items-center mb-2"> 
            <h5 style="pointer-events:none;">@Model.Name</h5>
        </div>
        <div class="d-flex flex-column align-items-center mb-2" margin-top: 30px;">
            <h1 style="margin-top: 30px; pointer-events:none;">@percentageString</h1>
        </div>
    </div>
    <div class="pie-chart-wrapper" style="margin-top: 30px;" title="@percentageString">
        <div class="pie-chart-container">
            <div class="pie-chart-bg"></div>
            <div class="pie-chart-fill" style="--fill: @percentageInt%"></div>
        </div>
    </div>
</div>

@*


<script>
function updatePieChartFill(percentage) {
    const pieChartFill = document.querySelector('.pie-chart-fill');
    pieChartFill.style.setProperty('--fill', `${percentage}%`);
}

setTimeout(() => {
    updatePieChartFill(@percentage);
}, 1000);
</script>
*@