@model IEnumerable<KalustoLuetteloSovellus.Models.Tuote>

<div class="d-flex flex-column justify-content-center align-items-center text-center">
    <h2 class="display-4">Tähän tulee lista varatuista tuotteista</h2>
</div>
