@* HTMLsivupohja sähköpostiviestin lähettämiselle.... vielä kesken *@
@model KalustoLuetteloSovellus.Models.Käyttäjä;


<img class="careeria-logo" src="@Url.Content("~/Images/Careeria-logo.png")" style="height:90px;width:auto" />

<h1>Tervetuloa!</h1>

<div class="d-flex gap-2">
    <p>Tervetuloa @Model.Käyttäjätunnus </p>
</div>
<div class="d-flex gap-2">
    <p>Kiitos rekisteröitymisestä sovellukseemme.</p>
</div>