@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Jokin meni pieleen.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Development Mode</h3>
<p>
    Ota yhteyttä sovelluksen ylläpitäjään saadaksesi apua ongelman ratkaisemiseen.
</p>
<p>
    Anna ylläpitäjille tietoa jokaisesta errorista jotta ne saadaan korjattua ajaissa ja sovelluksen toimivuus saadaan taattua. Kiitos. <br/>
    Olemme saavuttettavissa:<br />
    •Lisää yhteystiedot<br />
    •<br />
    •<br />
   @*  <strong>I've come to make an anauncement.</strong>
    Shadow The Hedgehog's a bitch ass motherfucker, he pissed on my fucking wife.
    Thats right, he took his hedgehog quilly dick out and he pissed on my fucking wife,
    and he said his dick was "This big" and I said that's disgusting,
    so I'm making a callout post on my twitter dot com, Shadow the Hedgehog,
    you've got a small dick, it's the size of this walnut except WAY smaller, and guess what?
    Here's what my dong looks like: PFFFT, THAT'S RIGHT, BABY. ALL POINTS, NO QUILLS, NO PILLOWS.
   Look at that, it looks like two balls and a bong. He fucked my wife so guess what? I'm gonna fuck the Earth.
   THAT'S RIGHT THIS IS WHAT YOU GET, MY SUPER LASER PISS! Except I'm not gonna piss on the earth. I'm gonna go higher.
   I'M PISSING ON THE MOON! HOW DO YOU LIKE THAT, OBAMA? I PISSED ON THE MOON YOU IDIOT!
   YOU HAVE 23 HOURS BEFORE THE PISS DROPLETS HIT THE FUCKING EARTH NOW GET OUT OF MY SIGHT BEFORE I PISS ON YOU TOO. *@
</p>
