@* Errorsivunäkymä *@

@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Jokin meni pieleen.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Development Mode</h3>
<p>
    Ota yhteyttä sovelluksen ylläpitäjään saadaksesi apua ongelman ratkaisemiseen.
</p>
<p>
    Anna ylläpitäjille tietoa jokaisesta errorista jotta ne saadaan korjattua ajoissa ja sovelluksen toimivuus saadaan taattua. Kiitos. <br/>
    Olemme saavuttettavissa:<br />
    •Lisää yhteystiedot<br />
    •<br />
    •<br />
</p>
