@model KalustoLuetteloSovellus.Models.Status

@{
    ViewData["Title"] = "Details";
}
<div class="ms-auto me-auto">
    <h1>Tiedot</h1>
    <h4>Status</h4>
    <hr />

    @* Tapahtumatietojen katselunäkymä *@
    <dl class="row">
        <div class="col-md-2">
            <dt class="col-sm-6 text-nowrap">@Html.DisplayNameFor(model => model.StatusNimi)</dt>
            <dd class="col-sm-6 text-nowrap">@Html.DisplayFor(model => model.StatusNimi)</dd>
        </div>
    </dl>
    <div class="text-center">
        <a class="btn btn-primary me-2" asp-action="Edit" asp-route-id="@Model?.StatusId"><i class="fas fa-edit"></i> Muokkaa</a>
        <button class="btn btn-secondary" onclick="window.history.back()"><i class="fas fa-arrow-left"></i> Takaisin</button>
    </div>
</div>
