/*VÄRIT*/
:root {
    --main-color: #d7af4d;
    --main-color-hover: #EFC356;
    --secondary-color:#c7c7c7;
    --secondary-color-hover:#D9D9D9;
}
/*VÄRIT*/


/*DARKMODE*/
.darkMode { /* testasin vaan nopean darkmoden ei näytä hyvältä vielä*/
    color: rgb(200,200,200);
    background-color: rgb(10,10,10);
}
/*DARKMODE*/


/*BUTTONIT*/
.btn-main{
    background-color:var(--main-color);
    border-radius:2px;
}
.btn-main:hover{
    background-color:var(--main-color-hover);
}
.btn-sec {
    background-color: var(--secondary-color);
    border-radius: 2px;
}

.btn-sec:hover {
    background-color: var(--secondary-color-hover)
    /*bold form */
}
/*BUTTONIT*/

/*BOOTSTRAP OVERRIDE*/
.btn-primary {
    background-color: var(--main-color) !important;
    border-color: var( --main-color-hover) !important;
    color:black;
    border-radius: 2px;
}
.btn-success {
    background-color: var(--main-color) !important;
    border-color: var( --main-color-hover) !important;
    color: black;
    border-radius: 2px;
}
.btn-secondary {
    background-color: var(--secondary-color) !important;
    border-color: var( --secondary-color-hover) !important;
    color: black;
    border-radius: 2px;
}
.btn-danger {
    background-color: var(--main-color) !important;
    border-color: var( --main-color-hover) !important;
    color: black;
    border-radius: 2px;
}

.border-bottom {
    border-bottom: 2px solid var(--main-color-hover) !important;
}
/*BOOTSTRAP OVERRIDE*/

/*KARUSELLI*/
.carousel-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
}

.carousel-view {
    overflow: hidden;
    width: 900px; /* 3 items * 300px width */
    height: 100%;
    position: relative;
    mask-image: linear-gradient(90deg,transparent 0%,black 10%,black 90%,transparent 100%);
}


.carousel-track {
    display: flex;
    height: 100%;
    flex-wrap: nowrap;
    transition: transform 0.3s ease-in-out;
}


.carousel-item {
    width: 500px;
    height: 500px;
    /* margin-left:250px; */
    display: block;
    flex-shrink: 0;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin: 0 5px;
}
/*KARUSELLI*/


/*KIRJAUTUNUT NÄKYMÄN YLÄVALIKKO*/

.nav-item a.nav-link {
    font-size: 1.125rem;
    font-weight: 700;
    position: relative;
    text-decoration: none;
    color: black;
}

.nav-item a.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #EFC356;
    transition: width 0.3s ease-in-out;
}

.nav-item a.nav-link:hover::after {
    width: 100%;
}

/*AADMIN PUDOTUS VALIKON LINKIT*/

.dropdown-item {
    position: relative;
    text-decoration: none;
    color: black;
    
}

.dropdown-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #EFC356;
    transition: width 0.3s ease-in-out;
}

.dropdown-item:hover::after {
    width: 100%;
}


/*ADMIN PUDOTUS VALIKON NUOLI*/
.nav-link.dropdown-toggle::after {
    display: none !important;
}


.nav-link.dropdown-toggle {
    position: relative;
    text-decoration: none;
    color: black;
}

.nav-link.dropdown-toggle::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #EFC356;
    transition: width 0.3s ease-in-out;
}

.nav-link.dropdown-toggle:hover::before {
    width: 100%;
}