/*VÄRIT*/
:root {
    --bg-color: #ffffff;
    --bg-sec-color: #D9D9D9;
    --main-color: #d7af4d;
    --main-color-hover: #EFC356;
    --secondary-color: #c7c7c7;
    --secondary-color-hover: #D9D9D9;
    --text-color: #1F1F1F;
    --text-sec-color: #D9D9D9;
    --footer-color: #11100C;
    --btn-disabled: #8A8A8A;

}
/*VÄRIT*/
.darkMode {
    --bg-color: #1D1D1D;
    --bg-sec-color: #1B1B1B;
    --main-color: #d7af4d;
    --main-color-hover: #EFC356;
    --secondary-color: #c7c7c7;
    --secondary-color-hover: #D9D9D9;
    --text-color: #D9D9D9;
    --text-sec-color: #3C3B3B;
    --footer-color: #11100C;
    --btn-disabled: #8A8A8A;
}

navbar-toggler-icon{
    color:red!important;
    background-color:red!important;
}

body { 
    color: var(--text-color);
    background-color: var(--bg-color);
}
.nav-link {
    color: var(--text-color)!important;
    background-color: transparent !important;
}
.navbar-brand {
    color: var(--text-color) !important;
    background-color: transparent !important;
}
.darkMode .careeria-logo {
    filter:invert();
}


.carousel-item {
    background-color: var(--bg-color) !important;
}
.form-control {
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;
    border-color: var(--text-sec-color) !important;
}

.card-header {
    background-color: var(--bg-color) !important;
    color: var(--text-sec-color) !important;
}
.card {
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;
    border-color: var(--text-sec-color) !important;
}



.border-top {
    border-color:var(--main-color-hover)!important;
    border-width:1px!important;
}
hr{
    background-color:var(--main-color-hover)!important;
}

/*
thead:hover {
    background-color: var(--footer-color) !important;
    color: var(--bg-color) !important;
}
tr:hover {
    background-color: var(--bg-color) !important;
    color: var(--bg-color) !important;
}

.table-hover thead tr:hover {
    background-color: var(--footer-color) !important;
    color:var(--bg-color)!important;
}
*/

.dropdown-menu {
    background-color: var(--bg-color);
    color: var(--text-color);
    border-color: var(--text-sec-color);
    z-index: 1050; /* or higher than any overlapping element */
    position: absolute; /* required for z-index to work */
}
.dropdown-item {
    color: var(--text-color)!important;
}
.dropdown-item:hover {
    background-color: var(--bg-sec-color);
    color: var(--text-color);
}
.darkmode-switch {
    white-space: nowrap;

}

.page-link{
    background-color:var(--bg-color);
    color:var(--text-color);
    border-color: var(--text-sec-color)!important;
}
.page-item.active .page-link{
    background-color: var(--main-color)!important;
    border-color: var(--main-color-hover)!important;
}

.nav-link {
    white-space: nowrap;
}

.navbar {
/*    position: fixed !important;*/
    width: 100%;
    background-color: var(--bg-color) !important;
    z-index: 1000;
/*    filter: drop-shadow(0 0 40px #FFD7AF4D)*/
}
.sort-link{
    color:white!important;
    white-space:nowrap;
    text-decoration:unset;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display:flex;
    flex-direction:column;
}
footer {
    /*    justify-self:flex-end;*/
    bottom: 0;
    position: absolute;
    width: 100%;
    padding-bottom: 32px;
    background-color: var(--footer-color);
}

.careeria-logo {
    color: var(--text-color);
}
/*BUTTONIT*/

/*
    nappi animaatio
*/
@keyframes scaleUpDown {
    0% {
        transform: scale(1); /* Initial size */
    }

    50% {
        transform: scale(1.1); /* Scale up */
        filter:drop-shadow(0 0 10px rgb(0,0,0,0.2));
    }

    100% {
        transform: scale(1); /* Scale down to original size */
    }
}
.btn{
    transition:transform 0.5s ease-in-out;
}
.btn:hover{
    animation:scaleUpDown 0.2s ease-in-out;
}

/*
    nappi animaatio
*/


.btn-main {
    background-color: var(--main-color);
    border-radius: 2px;
}
.btn.disabled {
    background-color: var(--text-sec-color);
    color: var(--btn-disabled);
}
.btn-main:hover{
    background-color:var(--main-color-hover);
}
.btn-sec {
    background-color: var(--secondary-color);
    border-radius: 2px;
}

.btn-sec:hover {
    background-color: var(--secondary-color-hover)
    /*bold form */
}
/*BUTTONIT*/

/*BOOTSTRAP OVERRIDE*/
.btn-primary {
    background-color: var(--main-color) !important;
    border-color: var( --main-color-hover) !important;
    color:black;
    border-radius: 2px;
}
.btn-success {
    background-color: var(--main-color) !important;
    border-color: var( --main-color-hover) !important;
    color: black;
    border-radius: 2px;
}
.btn-secondary {
    background-color: var(--secondary-color) !important;
    border-color: var( --secondary-color-hover) !important;
    color: black;
    border-radius: 2px;
}
.btn-danger {
    background-color: var(--main-color) !important;
    border-color: var( --main-color-hover) !important;
    color: black;
    border-radius: 2px;
}

.border-bottom {
    border-bottom: 2px solid var(--main-color-hover) !important;
}
/*BOOTSTRAP OVERRIDE*/

/*KARUSELLI*/
.carousel-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
}

.carousel-view {
    overflow: hidden;
    width: auto; /* 3 items * 300px width */
    height: 100%;
    position: relative;
    mask-image: linear-gradient(90deg,transparent 0%,black 10%,black 90%,transparent 100%);
}


.carousel-track {
    display: flex;
    height: 100%;
    flex-wrap: nowrap;
    transition: transform 0.3s ease-in-out;
}


.carousel-item {
    width: 100px;
    height: 100px;
    /* margin-left:250px; */
    display: block;
    flex-shrink: 0;
    /*    text-align: center;*/
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin: 0 5px;
    background-color:white;
/*    filter: drop-shadow(0 0 8px rgba(0,0,0,0.3))*/
}
.karuselli-gradientti {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 0%,var(--bg-color) 90%, var(--bg-color) 100%);
    z-index: 1;
}
.carousel-item-small {
    width: 254px;
    height: 254px;
    border: 2px solid gray;
    padding: 0px;
    border-radius: 0px;
    margin: 16px;
}
.carousel-item-small:hover {
    border-color: white;
    filter: drop-shadow(0 0 5px black);
    transform: scale(1.02);
    transform: translateY(-10px);
    transition: ease-in-out 0.1s;
}
/*KARUSELLI*/



/*Navbar brand override*/
.navbar-brand {
    font-size: 1.2rem !important;
    font-weight: 750 !important;
}
/*Navbar brand override*/


/*KIRJAUTUNUT NÄKYMÄN YLÄVALIKKO*/

.navbar-brand { /* testasin vaan nopean darkmoden ei näytä hyvältä vielä*/
    color: var(--text-color) !important;
}

.nav-item a.nav-link {
    font-size: 1.125rem;
    font-weight: 700;
    position: relative;
    text-decoration: none;
    color: black;
}

.nav-item a.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px; 
    background-color: #EFC356;
    transition: width 0.3s ease-in-out;
}

.nav-item a.nav-link:hover::after {
    width: 100%;
}


/*  Viivauksen esto Tervetuloa viestissä*/
.nav-item a.nav-link.UnChange {
    cursor: default !important;
    pointer-events: none;
}

.nav-item a.nav-link.UnChange::after {
    width: 0% !important; /* Estetään hoverin aiheuttama leveysmuutos */
    background-color: transparent !important; /* Ei näytetä viivaa ollenkaan */
    transition: none !important; /* Ei animaatiota */
}

.nav-item a.nav-link.UnChange:hover::after {
    width: none !important; /* Hover-tilassa ei vaikutusta */
} 

/*AADMIN PUDOTUS VALIKON LINKIT*/

select{
    appearance:auto!important;
}


.dropdown-item {
    position: relative;
    text-decoration: none;
    color: black;
    
}

.dropdown-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #EFC356;
    transition: width 0.3s ease-in-out;
}

.dropdown-item:hover::after {
    width: 100%;
}


/*ADMIN PUDOTUS VALIKON NUOLI*/
.nav-link.dropdown-toggle::after {
    display: none !important;
}


.nav-link.dropdown-toggle {
    position: relative;
    text-decoration: none;
    color: black;
}

.nav-link.dropdown-toggle::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #EFC356;
    transition: width 0.3s ease-in-out;
}

.nav-link.dropdown-toggle:hover::before {
    width: 100%;
}


/*PIILOTTAA NAPIT TUOTE SIVULLA*/

.hidden {
    visibility: hidden !important;
}

.table {
    background-color: var(--bg--color) !important;
    color: var(--text-color) !important;
    border-color: var(--text-sec-color) !important;
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
    white-space:nowrap;
}


/*TAULU KENTÄN SUURENNUS ANIMAATIO*/
.table td {
    color: var(--text-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background 1s ease, white-space 1s ease;
    position: relative;
    background-color: transparent;
}
/*
.table td:hover {
    background-color: var(--bg-color);
    overflow: visible;
    z-index: 9999;
}
*/

.table th {
    overflow:hidden!important;
    text-overflow: ellipsis!important;
    white-space: nowrap !important;
    background-color: var(--footer-color);
}
thead {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    background-color: var(--footer-color) !important;
    color: var(--bg-color);
}

.darkMode thead {
    background-color: var(--footer-color) !important;
    color: white;
}
.img-thumbnail{
    padding:0;
}
.skeleton-item {
    height: 30px;
    width: 100%;
    background: linear-gradient(90deg, #e0e0e0 25%, #f5f5f5 37%, #e0e0e0 63%);
    background-size: 200% 100%;
    animation: shimmer 1.4s ease infinite;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* or any height that fits your layout */
    width: 100vh; /* or any height that fits your layout */
/*    filter: drop-shadow(0 0 16px var(--main-color));*/
}
.loading {
    display: inline-block;
    height: 256px;
    width: 256px;
    border: 16px double #ccc;
    border-top: 16px solid var(--main-color);
    border-radius: 50%;
    animation: rotate 1.0s ease-in-out infinite;
}
 

@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(180deg) scale(1.1);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}
