@model KalustoLuetteloSovellus.Models.Kategoria

@{
    ViewData["Title"] = "Create";
}

<h1>Uusi kategoria</h1>

<h4>Kategoria</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KategoriaNimi" class="control-label"></label>
                <input asp-for="KategoriaNimi" class="form-control" />
                <span asp-validation-for="KategoriaNimi" class="text-danger"></span>
            </div>
            <div class="d-flex mt-2">
                <div class="form-group">
                    <div class="btn btn-primary">
                        <i class="fas fa-save"></i>
                        <input type="submit" value="Tallenna" style="background:none;border:none;color:white" />
                    </div>
                </div>
                <div>
                    <a class="btn btn-secondary ms-2" asp-action="Index"><i class="fas fa-arrow-left"></i>Takaisin</a>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
