@model KalustoLuetteloSovellus.Models.Kategoria

@{
    ViewData["Title"] = "Details";
}

<h1>Tiedot</h1>

<div>
    <h4>Kategoria</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KategoriaNimi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KategoriaNimi)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.KategoriaId"><i class="fas fa-edit"></i>Muokkaa</a>
    <a class="btn btn-secondary ms-2" asp-action="Index"><i class="fas fa-arrow-left"></i>Takaisin</a>
</div>
