@model KalustoLuetteloSovellus.Models.Kategoria

@{
    ViewData["Title"] = "Details";
}
<div class="ms-auto me-auto">
    <h1 class="text-center">Tiedot</h1>
    <h4 class="text-center">Kategoria</h4>
    <hr />

    <dl class="row">
        <div class="col-md-2">
            <dt class="col-sm-6 text-end text-nowrap">@Html.DisplayNameFor(model => model.KategoriaNimi)</dt>
            <dd class="col-sm-6 text-start text-nowrap">@Html.DisplayFor(model => model.KategoriaNimi)</dd>
        </div>
    </dl>

    <div class="text-center">
        <a class="btn btn-primary me-2" asp-action="Edit" asp-route-id="@Model?.KategoriaId"><i class="fas fa-edit"></i> Muokkaa</a>
        <button class="btn btn-secondary" onclick="window.history.back()"><i class="fas fa-arrow-left"></i> Takaisin</button>
    </div>
</div>



