@model IEnumerable<KalustoLuetteloSovellus.Models.Tuote>
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "About";

    var käyttäjä = Context.Session.GetString("Käyttäjätunnus"); 
    var isAdmin = RoleHelper.IsAdmin(Context);
    var isLoggedIn = !string.IsNullOrEmpty(käyttäjä);
}
<div class="d-flex flex-column justify-content-center align-items-center text-center">
    <h1 class="display-4">Tervetuloa KaLuun</h1>
    <h5 class="mt-2 gap-2 mb-4">Kehitystiimi:</h5>
    <table class="table table-bordered table-hover w-50 text-start">
        <thead>
            <tr>
                <th class="text-start">Nimi</th>
                <th class="text-start">Sähköposti</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Veeti Kauppinen</td>
                <td>veeti.a.kauppinen@gmail.com</td>
            </tr>
            <tr>
                <td>Niklas Granqvist</td>
                <td>niklas.granqvist@student.careeria.fi</td>
            </tr>
            <tr>
                <td>Teija Hurme</td>
                <td>teija.hurme@student.careeria.fi</td>
            </tr>
            <tr>
                <td>Paula Vekkilä</td>
                <td>paula.vekkila@student.careeria.fi</td>
            </tr>
        </tbody>
    </table>



@*  Tämä on vain testikäytössä ja poistetaan ennen palautusta *@
<h5 class="mt-2 gap-2 mb-4">...Luonnostellaan tässä alla sähköpostilomakepohjaa (Poistetaan tämä kun on valmis)...</h5>
<div class="mt-5">
    @await Html.PartialAsync("Email")
</div>

</div>