@model IEnumerable<KalustoLuetteloSovellus.Models.Tuote>
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Home Page";

    var käyttäjä = Context.Session.GetString("Käyttäjätunnus"); 
    var isAdmin = Context.Session.GetInt32("RooliId") == 40000;
    var isLoggedIn = !string.IsNullOrEmpty(käyttäjä);
}
<div class="d-flex flex-column justify-content-center align-items-center text-center">
    <h1 class="display-4">Tervetuloa KaLuun</h1>    
</div>

@if(isLoggedIn)
{
    <hr />
    <div class="container">
        <h5 class="text-center mt-5">Viimeksi lisätyt tuotteet (10)</h5>

        <div class="carousel-container">
            <button class="btn btn-sec" id="btnLeft" style="flex-grow:0;width:48px;height:48px;margin:auto"><i class="fas fa-arrow-left"></i></button>
            <div class="carousel-view">
                <div class="carousel-track" id="carouselTrack">
                    @foreach (var item in Model)
                    {
                        @await Html.PartialAsync("_TuoteKorttiPartialSmall", item)
                    }
                </div>
            </div>
            <button class="btn btn-sec" id="btnRight" style="flex-grow:0;width:48px;height:48px;margin:auto"><i class="fas fa-arrow-right"></i></button>
        </div>

        <div class="mt-5">
            @await Html.PartialAsync("_tuotteetVarattuPartial")
        </div>
    </div>
}

<script type="text/javascript" src="~/js/karuselli.js" ></script>

   
