@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tervetuloa KaLuun</h1>
    <p style="font-size:15px; font-weight:700; font-family:sans-serif"> Veeti Kauppinen: veeti.a.kauppinen@gmail.com, Lisää omas, Lisää omas, lisää omas  </p>
</div>
