@{
    ViewData["Title"] = "Privacy Policy";
}
<div style="max-width:90%">
    <h1 style=" padding-left:30%">@ViewData["Title"]</h1>

    <h3 style="padding-left:30%">Salasanojen turvallisuus</h3>
    <p style="padding-left:30%">
        Otamme salasanojen turvallisuuden vakavasti. <br/> Kun luot tilin, salasanaasi ei koskaan tallenneta selväkielisenä. <br /> Sen sijaan käytämme turvallista hajautusalgoritmia, joka muuntaa salasanasi yksisuuntaiseksi salatuksi muodoksi ennen tallennusta tietokantaan.
    </p>
    <h5 style="padding-left:30%">Tämä tarkoittaa, että:</h5>

    <ul style="padding-left:30%">
        <li>Kukaan, ei edes meidän tiimimme, näe salasanaasi.</li>
        <li>Jos tietokanta jostain syystä vaarantuisi, salasanasi pysyy silti suojattuna.</li>
        <li>Käytämme alan standardien mukaisia käytäntöjä (esimerkiksi suolattua hajautusta algoritmeilla kuten PBKDF2, bcrypt tai ASP.NET:n oma hasher) tietoturvan takaamiseksi.</li>
        <li>Parhaan turvallisuuden takaamiseksi suosittelemme käyttämään vahvaa ja yksilöllistä salasanaa jokaisessa käyttämässäsi palvelussa.</li>
    </ul>

    <a asp-controller="Home" asp-action="Error">Virhesivu</a>
</div>