@using Microsoft.AspNetCore.Http
@model KalustoLuetteloSovellus.Models.Käyttäjä
@{
    ViewData["Title"] = "User";
}

<h1>Omat sivut</h1>

@* Tässä näytetään omat tiedot rivinäkymänä *@

<br />
<h5>Käyttäjän tiedot</h5>
<table class="table table-bordered w-50">
    <thead>
        <tr>
            <th>Käyttäjätunnus</th>
            <th>Rooli</th>
            <th>Tapahtumia</th>
            <th>Palauttamattomia</th>
            <th>Toiminnot</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Käyttäjätunnus</td>
            <td>@Model.Rooli.RooliNimi</td>
            <td>@Model.Tapahtumat.Count()kpl</td>
            <td>
                @{
                    var käyttäjänAukiOlevatTapahtumat = Model.Tapahtumat
                    .GroupBy(t => t.TuoteId)
                    .Select(g => g.OrderByDescending(e => e.AloitusPvm).FirstOrDefault())
                    .Where(e => e != null
                    && e.Status?.StatusNimi != "Vapaa"
                    && RoleHelper.IsUser(e.KäyttäjäId, Context))
                    .ToList();
                }
                @käyttäjänAukiOlevatTapahtumat.Count() kpl
                @{

                if(!Model.Tapahtumat.Any())
                {
                    <td><a class="btn btn-main" asp-controller="Home" onclick="return confirm('Haluatko varmasti poistaa tilin?')" asp-action="DeleteAccount" asp-route-käyttäjäId="@Model.KäyttäjäId"><i class="fas fa-trash"></i> Poista tili</a></td>
                }
            }
        </tr>
    </tbody>
</table>

@* Tästä alkaa käyttäjän luomat tapahtumarivit *@

@* <h5>Käyttäjän auki olevat tapahtumat</h5> *@
@* @await Html.PartialAsync("_TapahtumaRivitPartial", käyttäjänAukiOlevatTapahtumat) *@

<h5>Käyttäjän luomat tapahtumat</h5>
@await Html.PartialAsync("_TapahtumaRivitPartial", Model.Tapahtumat.OrderByDescending(t => t.TapahtumaId))
