@model KalustoLuetteloSovellus.Models.Rooli

@{
    ViewData["Title"] = "Create";
}

<h1>Uusi rooli</h1>

<h4>Rooli</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RooliNimi" class="control-label"></label>
                <input asp-for="RooliNimi" class="form-control" />
                <span asp-validation-for="RooliNimi" class="text-danger"></span>
            </div>
            <div class="d-flex mt-2">
            <div class="form-group">
                <button type="submit" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Lisää uusi</button>
            </div>
        </form>
        <button class="btn btn-secondary ms-2" onclick="window.history.back()"><i class="fas fa-arrow-left"></i>Takaisin</button>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
