@model KalustoLuetteloSovellus.Models.Rooli

@{
    ViewData["Title"] = "Delete";
}

<h1>Poista</h1>

<h3>Haluatko varmasti poistaa tämän?</h3>
<div>
    <h4>Rooli</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RooliNimi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RooliNimi)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RooliId" />
        <div class="d-flex mt-2">
        <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Poista</button>
    </form>
    <button class="btn btn-secondary ms-2" onclick="window.history.back()"><i class="fas fa-arrow-left"></i>Takaisin</button>
</div>
