@model KalustoLuetteloSovellus.Models.Rooli

@{
    ViewData["Title"] = "Details";
}

<h1>Tiedot</h1>

<div>
    <h4>Rooli</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RooliNimi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RooliNimi)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.RooliId"><i class="fas fa-edit"></i> Muokkaa</a>
    <a class="btn btn-light" asp-action="Index"><i class="fa-solid fa-circle-left"></i> Takaisin</a>
</div>
